torch
torchvision
torchaudio

transformers==4.38.2
tokenizers==0.15.2
huggingface-hub==0.36.2

pytorch-lightning==2.6.1
torchmetrics==1.9.0

torch-geometric==2.7.0

pymatgen
mp-api
ase
e3nn

smact

einops
pydantic

tqdm
click
fire
